<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top w-100">
	<div class="container px-4 px-lg-5">
		<a class="navbar-brand" href="/">DKLM</a>
		<button
			class="navbar-toggler"
			type="button"
			data-bs-toggle="collapse"
			data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent"
			aria-expanded="false"
			aria-label="Toggle navigation"
		>
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4">
				<li class="nav-item">
					<a class="nav-link" aria-current="page" href="/">Home</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/about">About</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/menu">Menu</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" href="/login">Login</a>
				</li>
				<li class="nav-item" id="signup">
					<a class="nav-link" href="/signup">Sign Up</a>
				</li>
			</ul>
			<form class="d-flex">
				<!-- <button class="btn btn-outline-dark" type="submit">
					<i class="bi-cart-fill me-1" ></i>
					Cart
					<span class="badge bg-dark text-white ms-1 rounded-pill"
						>0</span
					>
				</button> -->

				<a
					href="/cart"
					class="btn btn-info btn-outline-dark bg-primary bg-gradient"
					role="button"
				>
					<i class="bi-cart-fill me-1"></i>
					Cart
					<span
						class="badge bg-dark text-white ms-1 rounded-pill"
						id="cart-count"
						>0</span
					>
				</a>
			</form>

			<form class="nav-item dropdown d-flex mx-2">
				<a
					href="#"
					id="userBtn"
					class="btn btn-info btn-outline-dark bg-primary bg-gradient disabled dropdown-toggle"
					role="button"
					data-bs-toggle="dropdown"
					aria-expanded="false"
				>
					<span
						class="badge bg-dark text-white ms-1 rounded-pill"
						id="userName"
					></span>
				</a>
				<ul class="dropdown-menu">
					<li>
						<a class="dropdown-item" href="/account"
							>Account Information</a
						>
					</li>
					<li><hr class="dropdown-divider" /></li>
					<li>
						<a class="dropdown-item" href="/logout">Log Out</a>
					</li>
				</ul>
			</form>
		</div>
	</div>
</nav>
<script>
	function updateCartCount(count) {
		document.getElementById("cart-count").innerHTML = count;
	}

	function updateUser(user) {
		const state = document
			.getElementById("userBtn")
			.classList.contains("disabled");
		const signupState = document
			.getElementById("signup")
			.classList.contains("invisible");
		if (user == "Guest") {
			if (state === false) {
				document.getElementById("userBtn").classList.add("disabled");
			}
			if (signupState) {
				document.getElementById("signup").classList.remove("invisible");
			}
			document.getElementById("userName").innerHTML = user;
		} else {
			if (state) {
				document.getElementById("userBtn").classList.remove("disabled");
			}
			if (signupState === false) {
				document.getElementById("signup").classList.add("invisible");
			}
			document.getElementById("userName").innerHTML = user;
		}
	}

	function fetchCartCount() {
		fetch("/cart/count")
			.then((response) => response.json())
			.then((data) => {
				updateCartCount(data);
			})
			.catch((error) => {
				console.error("Failed to fetch cart count", error);
			});
	}

	function checkLogin() {
		fetch("/checkLogin")
			.then((response) => response.json())
			.then((data) => {
				updateUser(data);
			})
			.catch((error) => {
				console.error("Failed to fetch cart count", error);
			});
	}

	document.addEventListener("DOMContentLoaded", function () {
		fetchCartCount();
		checkLogin();
	});
</script>
