<body>
	<section class="d-flex flex-column justify-content-center" id="About-Us">
		<div id="About-us">
			<h1
				class="fs-1"
				id="Title"
				style="color: white; -webkit-text-stroke: 1px black"
			>
				About Us
			</h1>
			<h1
				class="fs-4"
				id="Title-2"
				style="color: white; -webkit-text-stroke: 1.5px black"
			>
				Fresh food with fresh ingredients&nbsp;
			</h1>
		</div>
		<div id="About-us-bottom">
			<div class="container">
				<div class="row" id="rowDoyle">
					<div
						class="badge-base LI-profile-badge"
						data-locale="en_US"
						data-size="medium"
						data-theme="light"
						data-type="VERTICAL"
						data-vanity="lucas-malone-8b7903b4"
						data-version="v1"
					></div>
					<h1>
						<b
							><a
								class="badge-base__link LI-simple-link link-warning"
								href="https://www.linkedin.com/in/lucas-malone-8b7903b4?trk=profile-badge"
								>Doyle Jones</a
							></b
						>
					</h1>
					<div class="col">
						<img
							src="assets/img/doyle.jpg"
							width="100px"
							style="float: left"
						/>
						<p
							style="
								color: white;
								-webkit-text-stroke: 1.5px black;
								float: left;
								width: 30%;
								overflow-wrap: break-word;
							"
						>
							Enter Your Info HERE
						</p>
					</div>
				</div>
				<div class="row" id="rowKiana">
					<div
						class="badge-base LI-profile-badge"
						data-locale="en_US"
						data-size="medium"
						data-theme="light"
						data-type="VERTICAL"
						data-vanity="lucas-malone-8b7903b4"
						data-version="v1"
					></div>
					<h1>
						<b
							><a
								class="badge-base__link LI-simple-link link-warning"
								href="https://www.linkedin.com/in/lucas-malone-8b7903b4?trk=profile-badge"
								>Kiana Alexander</a
							></b
						>
					</h1>
					<div class="col">
						
						<p
							style="
								color: white;
								-webkit-text-stroke: 1.5px black;
								float: left;
								width: 30%;
								overflow-wrap: break-word;
							"
						>
							Enter Your Info HERE
						</p>
						<img
							id="Kiana"
							src="assets/img/kiana.jpg"
							width="100px"
							style="
								float: right;
								padding-right: 0px;
								margin-right: 800px;
							"
						/>
					</div>
				</div>
				<div class="row" id="rowLucas">
					<div
						class="badge-base LI-profile-badge"
						data-locale="en_US"
						data-size="medium"
						data-theme="light"
						data-type="VERTICAL"
						data-vanity="lucas-malone-8b7903b4"
						data-version="v1"
					></div>
					<h1>
						<b
							><a
								class="badge-base__link LI-simple-link link-warning"
								href="https://www.linkedin.com/in/lucas-malone-8b7903b4?trk=profile-badge"
								>Lucas Malone</a
							></b
						>
					</h1>
					<div class="col">
						<img
							id="Lucas"
							src="assets/img/ME5.jpg"
							width="100px"
							style="float: left"
						/>
						<p
							style="
								color: white;
								-webkit-text-stroke: 1.5px black;
								float: left;
								width: 30%;
								overflow-wrap: break-word;
								flex-wrap: wrap;
							"
						>
							I have been a leader of a large scale restaurant for
							many years with a team of 130 people. Goal setting
							and then acheiveing those goals is what I love!
						</p>
					</div>
				</div>
				<div class="row" id="rowMason">
					<div
						class="badge-base LI-profile-badge"
						data-locale="en_US"
						data-size="medium"
						data-theme="light"
						data-type="VERTICAL"
						data-vanity="lucas-malone-8b7903b4"
						data-version="v1"
					></div>
					<h1>
						<b
							><a
								class="float: right; badge-base__link LI-simple-link link-warning"
								href="https://www.linkedin.com/in/lucas-malone-8b7903b4?trk=profile-badge"
								>Mason McCabe</a
							></b
						>
					</h1>
					<div class="col">
						
						<p
							style="
								color: white;
								-webkit-text-stroke: 1.5px black;
								float: left;
								width: 30%;
								overflow-wrap: break-word;
							"
						>
							Enter Your Info HERE skdflkasjlf;kjsldkfj;lsakdjf;lskdjf;lksjdf;lkdj;lfksjld;kfjsd
						</p>
						<img
							id="Mason"
							src="assets/img/MasonM.jpeg"
							width="100px"
							style="float: right; margin-right: 800px"
						/>
						<a role="button" href="thelinkedinurl"> </a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>
