<body>
	<!-- Header-->
		<header class="
		">
			<div style="background: url('../../assets/food/cheeseburger.jpg'); height: 700px; background-repeat: no-repeat;background-size: cover;padding-right: 820px;padding-top:30px;"	class="jumbotron bg-cover text-white">
			<div class="container px-4 px-lg-5 my-5">
				<div class="text-center text-white">
					
					<h1  class="display-4 fw-bolder">Food That Looks Good
					</h1>
					<p class="lead fw-normal text-white-50 mb-0">
						With this shop homepage template
					</p>
				</div>
			</div>
		</div>
		</header>
</body>