<body>
	<!-- Header-->
	<header
		class="
		"
	>
		<div
			style="
				background: url('/assets/food/cheeseburger.jpg');
				background-size: cover;
				background-position: center;
				background-repeat: no-repeat;
				min-height: 40rem;
			"
			class="text-white container-fluid h-100"
		>
			<div class="container px-4 px-lg-5 my-5">
				<div class="text-start text-white">
					<h1 class="fs-1 fw-bolder">Food That Looks Good</h1>
					<p class="lead fw-normal text-white-50 mb-0 fs-5">
						With this shop homepage template
					</p>
				</div>
			</div>
		</div>
	</header>
</body>
