
    <section class="py-5" style="
    background: url('/assets/food/chicken tenders.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 40rem;
">
        <div class="container py-5">
            <div class="row mb-4 mb-lg-5">
                <div class="col-md-8 col-xl-6 text-center mx-auto">
                    <p class="fw-bold text-success mb-2">Sign up</p>
                    <h2 class="fw-bold">Welcome</h2>
                </div>
            </div>
            <div class="row d-flex justify-content-center">
                <div class="col-md-6 col-xl-4">
                    <div class="card bg-dark bg-opacity-75">
                        <div class="card-body text-center d-flex flex-column align-items-center">
                            
                            <form method="post" action="/signup/newuser">
                                <div class="mb-3"><input class="form-control" type="text" name="firstName" placeholder="First Name" style="margin: 0px;margin-bottom: 1rem;" required=""><input class="form-control" type="text" name="lastName" placeholder="Last Name" required=""></div>
                                <div class="mb-3"><input class="form-control" type="email" name="email" placeholder="Email" style="margin: 0px;margin-bottom: 1rem;" required=""><input class="form-control" type="email" name="confirmEmail" placeholder="Confirm Email" required=""></div>
                                <div class="mb-3"><input class="form-control" type="password" name="password" placeholder="Password" style="margin-bottom: 1rem;" required=""><input class="form-control" type="password" name="confirmPassword" placeholder="Confirm Password" required=""></div>
                                <div class="mb-3"><button class="btn btn-primary shadow d-block w-100" type="submit">Sign up</button></div>
                                <p class="text-muted">Already have an account?&nbsp;<a href="/login">Log in</a></p>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bold-and-bright.js"></script>
</body>

</html>